html, body {
    height: 100%; /* Ensure the full height for fixed page layout */
    margin: 0;
    overflow: hidden; /* Prevent scrolling on the body */
}

#log {
    max-height: 300px; /* Allow scrolling within the table */
    overflow-y: auto; /* Only vertical scroll */
}

.overflow-hidden {
    overflow: hidden; /* Prevent scrolling in the left column */
}

.overflow-auto {
    overflow-y: auto; /* Allow scrolling in the right column */
}
.badge-info {
    background-color: #17a2b8; /* Bootstrap's default blue info color */
}
